.save{
	border : solid 1px #333;
	margin-right:30px;
	margin-left:20px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding:10px 10px 30px 10px;
	width:500px;
}


.3dstage{
	float:left;
}

.speed{
	float:left;
	border : solid 1px #333;
	margin-right:30px;
	margin-left:20px;
	padding:5px 0 5px 0;
}

.collum{
	float:left;
	padding:5px 10px 5px 10px;
}

.buttons{
	float:left;
	margin-right:20px;
	margin-left:20px;
	padding:5px 0 5px 0;
	width:240px;
}

.axises{
	clear:left;
}

.axis{
	float:left;
	border : solid 1px #333;
	margin-right:20px;
	margin-left:20px;
	padding:5px 10px 5px 10px;
	width:280px;
}

.top_axis{
	text-align: center;
	border : solid 1px #333;
	width:70px;
}

.osciloscope{
	float:left;
	border : solid 1px #333;
	margin-right:20px;
	padding:5px 10px 5px 10px;
	width:200px;
}

.measureValue{
	display:inline-flex;
	float:left;
}
